*
{
    background-color: #353239;
}

.main
{
    display: flex;
    padding: 10px;

    overflow-y: hidden;
}

.content
{
    margin-left: 10px;
    width: 100%;
}

.content-boxes
{
    display: flex;
    height:  82vh;
}