.dashboard
{
    display:       flex;
    padding:       20px;
    width:         75%;
    border-radius: 15px;
    margin-left:   10px;
    box-shadow: 0px 0px 10px #1b191d;
    background-color: #534c59;
}

.dashboard-content
{
    width:            100%;
    background-color: #353239;
    padding:          5px;
    border-radius:    15px;
    margin-bottom:    10px;
}

.dashboard-out
{
    width:             100%;
    height:            75%;
    min-height:        20%;
    margin-top:        6vh;
    background-color: transparent;
}

.dashboard-months
{
    border-radius:    15px;
    background-color: #59525f;
}

.dashboard-months p 
{
    padding-top:       1%;
    width:             39%;
    margin:            0.8%;
    color:           white;
    text-align:        center;
    background-color:  transparent;
}

.bar
{
    border-radius:  15px;
}

.months
{
    display:          flex;
    margin-left:      40px;
    margin-right:     1px;
    background-color: transparent;
}

.actual-month
{
    text-align:        center;
    padding-top:       1%;
    padding-bottom:    1%;
    border-radius:     15px;
    margin:            0.8%;
    width:             39%;
    color:           white;
    background-image: linear-gradient(to right, #ac00b0 , #9800c8);
    box-shadow: 0px 0px 10px #1b191d6d;
}