.greeting
{
    display:         block;
    position:        relative;
    font-weight:     bold;
    font-size:       50px;
    margin-bottom:   10px;
    border-radius:   15px;
    text-decoration: none;
    overflow:        hidden;
    color:           rgb(113, 108, 122);
    background-color:#534c59;
    box-shadow: 0px 0px 10px #1b191d;
    padding:    0px 0px 50px 0px;
}

.text
{
    font-size:        1em;
    text-align:       center;
    color:           rgb(113, 108, 122);
    background-color: transparent;
}

.icon
{
    color:     rgba(113, 108, 122, 0.24);
    position:  absolute;
    right:     10px;
    top:       -150px;
    font-size: 700px;
    background-color: transparent;
}

.icon-left
{
    position:  absolute;
    color:     rgba(113, 108, 122, 0.24);
    left:      10px;
    top:       -17px;
    font-size: 700px;
    background-color: transparent;
}

.icon-quote
{
    font-size:        20px;
    color:           rgb(113, 108, 122);
    background-color: transparent;
    margin:           80px 8px 0px 8px;
}
